[defaults]
inventory = ./inventory
remote_user = eric
host_key_checking = False
roles_path = /home/eric/ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
collections_path=/home/eric/ansible/collections:/usr/share/ansible/collections
# vault_password_file =

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
